<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<description>Archive Application Configuration</description>

	<!-- Import a global application properties. -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<description>
			Property configurer for notification service properties
			input.
		</description>

		<property name="locations">
			<list>
				<value>
					classpath:archive.properties
				</value>
			</list>
		</property>

	</bean>

	<import resource="classpath:commonService.xml" />
	<import resource="classpath:archive.xml" />

</beans>