<meta http-equiv  ="Content-Type " content  ="text /html"; charset  ="UTF-8">


html,body {
	margin: 0;
	width: 100%;
	height: 100%;
}

<!--
body {
	FONT-SIZE: 9pt;
	margin: 0px;
}

a {
	color: #096DD1;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

ol,ul {
	list-style: none outside none;
}

#desktop {
	position: relative;
	min-width: 400px; /* Helps keep header content from wrapping */
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	cursor: default;
	/* Fix for issue in IE7. IE7 wants to use the I-bar text cursor */
}

#desktopTitlebarWrapper {
	position: relative;
	height: 45px;
	width: 100%;
	overflow: hidden;
	background: #718BA6 url(images/bg-header.gif) repeat-x;
}

#desktopTitlebar {
	padding: 7px 8px 6px 8px;
	height: 32px;
	width: 100%;
	background: url(images/logo.gif) no-repeat;
	background-position: left 0;
}

#desktopTitlebar h1.applicationTitle {
	display: none;
	margin: 0;
	padding: 0 5px 0 0;
	font-size: 20px;
	line-height: 25px;
	font-weight: bold;
	color: #fff;
}

#desktopTitlebar h2.tagline {
	padding: 7px 0 0 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #d4dce4;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

#topNav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	position: absolute;
	right: 0;
	top: 0;
	color: #d4dce4;
	text-align: right;
	padding: 13px 10px 0 0;
}

#topNav a {
	color: #fff;
	font-weight: normal;
}

#topNav a:hover {
	text-decoration: none;
}

.menu-right li {
	list-style-type: none;
	display: inline;
	margin: 0 0 0 15px;
	font-size: 9pt;
}

#desktopFooterWrapper {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	overflow: hidden;
}

#desktopFooter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	height: 20px;
	padding: 6px 8px 0 8px;
	background: #f2f2f2;
	text-align: right;
}
/*jquery ui 制作的toolbar 需要*/
.toolbar {
	padding: 3px;
}

/*li的横排列表(电子全文图标显示用过)*/
.docli {
	text-align: center;
	float: left;
	width: 100px;
	margin: 3px;
	/*padding: 3px;*/
	padding: 0pt 15px 25px;
	list-style-type: none;
}

.docdiv {
	margin: 1px 25px 10px;
}
.docfilename{
	border-radius: 8px 8px 8px 8px;
    margin: 3px 1px 0;
    overflow: hidden;
    padding: 1px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: pre;
}

.label, .input { display:block; }
.fieldset { padding:0; border:0; margin-top:15px; }
.input.text { margin-bottom:12px; padding: .4em; }
